@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%; 

}

/* cabezal */

header{   

    width: 100%; 
    margin-right: 50px;
    position: fixed;
    background-color: white;
    
}

.contenedor {
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    align-content: center;
    align-items: center;  
    
}
  
h1 { 

    margin-left: 20px;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 2.441rem;
    font-family: 'Fugaz One', cursive;
    color: black;
    
   }

nav{
    width: 50%;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;    
    justify-content: center;
     
}

.boton {
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.20rem;
    color:black;
    display:inline;
    margin: auto;
    text-decoration:none;
}

.redes {
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 20px;
    padding-left: 10px;
    border: 0 solid black;
    color: black;
}

/* hero */
main {
    margin-top: 0;
}

.hero {
    
    padding-top: 150px;
    padding-bottom: 80px;
    background-color: #EEE8AA;   
    display: flex;
    justify-content: space-evenly;

}

.presentacion {    
    margin-top: 20px;   
}

h2{
    margin-top: 10px;
    font-size: 2.40rem;
    font-family: 'Times New Roman', Times, serif
}

h3{
    margin-top: 40px;
    font-size: 1.10rem;
    font-family: Arial, Helvetica, sans-serif
}

p {
    margin-top: 5px;
    font-size: 1.05rem;
    font-family: 'Times New Roman', Times, serif

}
.porfolio {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border: 0 solid black;
    color: white;
    background-color: black;
    font-size: 0.95rem;
    transition: all 0.5s;
    cursor: pointer;
}
.porfolio:hover {
    background-color: rgb(109, 94, 94);
}
.contacto {
    width: 130px;
    height: 30px;
    padding-left: 5px;
    border: none;
    color: black;
    background-color: #EEE8AA;
    font-size: 1rem;
    text-decoration-line: underline;
    transition: all 0.5s;
    cursor: pointer;
}

.contacto:hover {
    background-color: #6d5e5e;
}
.flecha {
    padding-left: 8px;
}

.fotopresentacion {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 10px silver ;
}

/* primera seccion */

.seccion1 {
    padding-top: 30px;
    padding-bottom: 30px;    
    margin-left: 110px;
    margin-right: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;

}

.about {
    width: 100px;
    margin-left: 450px; 
    font-size: 1.20rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA;
       
}
.conocer {
    margin-left: 240px; 
    font-size: 1.50rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.soy {
    margin-left: 75px; 
    margin-top: 30px;
    font-size: 0.90rem;
    font-family: Arial, Helvetica, sans-serif;

}

u {
    text-decoration-color: #EEE8AA;
}

.resumen {
    margin-left: 75px; 
    margin-top: 25px;
    margin-right: 95px;
    padding-right: 10px;
    font-size: 0.90rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;  
    display: block;

}

.experiencia {
    text-align: center;
       
}

.exp {
    margin-top: 120px;
    margin-right: 120px;
    background-color: #EEE8AA;
    border-radius: 50%;   
    font-size: 5.40rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

.años {
   margin-right: 30px;
   margin-left: -30px;
   text-align: left;
   font-size: 0.90rem;
   font-family: Arial, Helvetica, sans-serif;
}

/* datos*/

.seccion2 {
    margin-left: 110px;
    margin-right: 50px;
        
}

.datosbasicos {
    margin-left: 95px;
    margin-right: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.datos1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90rem;

}

/* segunda seccion */

.seccion3 {
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 110px;
    margin-right: 50px;
    padding-right: 50px;
 }

.ayuda {
    width: 100px;
    margin-left: 47%;
    font-size: 1.20rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA;
}
.siguenteproyecto {
    margin-top: 10px;
    margin-left: 25px; 
    font-size: 1.40rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.imgproyect1 {
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    color: #EEE8AA;
    
    
}
.proyect1 {
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
}

.datos2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding-left: 35px;
}


.imgproyect2 {
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    color: #EEE8AA;
}
.proyect2 {
    margin-top: 5px;
    margin-left: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* cuarta seccion */
.seccion4 {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 110px;
    margin-right: 50px;
    padding-right: 70px;
}
.resume1 {
    width: 100px;
    margin-left: 48%;
    font-size: 1.20rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA
}

.resume2 {
    margin-top: 10px;
    margin-left: 45px; 
    font-size: 1.50rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.my_ex{
    margin-left: 50px;
    margin-right: 130px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
}

.divicion {
    margin-top: 20px;
    margin-left: 80px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    
}
.divicion1 {
    padding-left: 8px;
    border-left: 2px solid #EEE8AA;
    
}

.resumen3  { 
    padding-bottom: 6px;
    font-size: 0.95rem;
    border-bottom: 3px solid #6d5e5e;

}

.divicion2 {
    padding-left: 8px;
    border-left: 2px solid #EEE8AA;
    
}
.resumen4  {
    padding-bottom: 6px;
    font-size: 0.95rem;
    border-bottom: 3px solid #6d5e5e;
}

/* seccion barras */

.habilidades {
    margin-left: 230px;
    font-family: Arial, Helvetica, sans-serif;
}

.barras {
    margin-top: 15px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    
}

.barras1 {
    margin-left: 150px;

}

.por99 {
    margin-left: 190px;

}
.conten99 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra99 {
    width: 99%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.por90 {
    margin-left: 165px;

}
.conten90 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra90 {
    width: 90%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.barras2 {
    margin-right: 20px;

}
.por70 {
    margin-left: 200px;

}
.conten70 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra70 {
    width: 70%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.por55 {
    margin-left: 190px;

}
.conten55 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra55 {
    width: 50%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.downcv {
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 48%;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s;
    cursor: pointer;
}

.downcv:hover {
    background-color: rgb(109, 94, 94);
}

/* quinta seccion */

.seccion5 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffeded;
    padding-right: 50px;
    
}

.porfolio2 {
    width: 90px;
    margin-left: 48%;
    font-size: 1.20rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA;
}
.porfolio3 {
    margin-top: 10px;
    margin-left: 50px; 
    padding-bottom: 15px;
    font-size: 1.50rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.boton3 {
    width: 100%;
    display: flex;
    align-content:space-around;
}

.boton4 {
    margin-left: 28%;
   
}

.boton7 {
    width: 100%;
    padding-top: 2%;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.10rem;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
 
}

.boton7:hover {
    text-decoration: underline;
}


.boton8 {
    width: 130%;
    padding-top: 2%;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.10rem;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
 
}

.boton8:hover {
    text-decoration: underline;
}
.boton9 {
    width: 120%;
    padding-top: 2%;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.10rem;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
 
}

.boton9:hover {
    text-decoration: underline;

}    
/* seccion imagenes */

.trabajos1 {
    margin-top: 20px;
    width: 80%;
    padding-top: 40px;
    padding-left: 18%;
   
 }

.img1 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.img2 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
.img3 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.img4 {
    width: 300px;
    height: 300px;
    margin-right: 5px;
}
.img5 {
    width: 300px;
    height: 300px;
}
.img6 {
    width: 300px;
    height: 300px;
    margin-left: 5px;
}


/* ultima seccion */

.ultima {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EEE8AA;
   
}

.contactos1 {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 150px;
    padding-right: 170px;
    display: flex;
    justify-content: space-evenly;


}

.contactos3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 80px;
    margin-bottom: 30px;       

}

p {
    font-size: 0.95rem;
    margin-bottom: 30px;
    text-align: justify;
}
.liv{ 
    margin-bottom: 5px;
}

.call {
    margin-bottom: 5px;
}

.redes1{
    font-size: 0.95rem;
    margin-top: 20px;
    padding-left: 10px;
    border: 0 solid black;
    color: black;
}


form {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-left: 80px;

}

.formulario1 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

label {
    font-size: 0.95rem;
    padding: 10px 0;
    
}

input {
    border: none;
    background-color: #EEE8AA;
    border-bottom: 1px solid #6d5e5e;
    width: 350px;
    margin-bottom: 10px;

}

textarea {
    height: 80px ;
    border: none;
    background-color: #EEE8AA;
    border-bottom: 1px solid #6d5e5e;
    width: 350px;

}

button {
    width: 80px;
    height: 20px;
    margin-top: 5px;
    font-size: 0.70rem;
    border: 0 solid black;
    color: white;
    background-color: black;
    transition: all 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: rgb(109, 94, 94);

}


/* responsive para tablet */

@media (max-width: 1024px) {

    
    body {
        width: 1024px; 
    
    }
    
    /* cabezal */
    
    header{   
    
        width: 100%; 
        margin-right: 25px;
           
    }
    
    .contenedor {
        padding-bottom: 15px;
        padding-top: 10px;
    }  
    h1 { 
    
        margin-left: 15px;
        margin-top: 10px;
        padding-left: 10px;
        font-size: 2rem;
    }
    
    nav{
        width: 50%;
        padding-right: 30px;
        padding-left:50px;
        
    }
    
    .boton {
        font-size: 1rem;
        
    }
    
    .redes {
        font-size: 1.75rem;
        
    }
    
    
    /* hero */
    
    
    .hero {
        
        padding-top: 130px;
    }
    
    
    /* primera seccion */
    
    .seccion1 {    
        padding-bottom: 20px;    
        margin-left: 50px;
        
    }
    
    .about {
        
        margin-left: 70%; 
           
    }
    .conocer {
        margin-left: 290px;
        margin-top: -15px;
    }
    
    
    .experiencia {
        padding-top: 50px;
        
    }
    
    .años {
       margin-left: -20px;
       text-align: left;
    }
        
    
    /* datos*/
    
    .seccion2 {
        margin-left: 70px;
        margin-right: 60px;
            
    }
    
    
    
    /* segunda seccion */
    
    .seccion3 {
        margin-top: 20px;
        padding-top: 30px;    
        margin-left: 20px;
        margin-right: 80px;
        padding-right: 60px;
     }
    
    .ayuda {   
        margin-left: 50%;
    }
    
    .siguenteproyecto {
        margin-top: 0px;
        margin-left: 90px; 
    
    }
    
    .imgproyect1 {
        padding-left: 20px;
          
    }
    
    .imgproyect2 {
        padding-left: 20px;
    }
    
    
    /* cuarta seccion */
    
    .seccion4 {
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 30px;
        padding-right: 50px;
    }
    
    .resume1 {
        margin-left: 47%;
    
    }
    
    .resume2 {
        margin-top: 10px;
        margin-left: 45px; 
        font-size: 1.50rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    
    }
    .my_ex{
        margin-left: 30px;
        margin-right: 100px;
    }
    
    .divicion {
        margin-top: 30px;
        margin-left: 80px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-evenly;
        
    }
    
    .resumen3  { 
        padding-bottom: 4px;
    
    }
    
    .resumen4  {
        padding-bottom: 4px;
    }
    
    /* seccion barras */
    
    .habilidades {
        margin-left: 160px;
    }
    
    .barras {
        margin-top: 15px;
        margin-left: -30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-around;
        
    }
    
    
    /* quinta seccion */
    
    .seccion5 {
        padding-right: 20px;
        
    }
    
    .porfolio2 {
        margin-left: 47%;
    }
    
    .porfolio3 {
        margin-left: 30px; 
    }
    
    
    .boton4 {
        margin-left: 20%;
       
    }
    
    .boton7 {
        font-size: 1.05rem;
     
    }
    
    .boton8 {
        margin-left: 30px;
        font-size: 1.05rem;
    }
    
    .boton9 {
        margin-left: 30px;
        font-size: 1.05rem;
    }
    
    /* seccion imagenes */
    
    .trabajos1 {
        margin-top: 10px;
        width: 100%;
        padding-top: 30px;
        padding-left: 5%;
       
    }
    
    /* ultima seccion */
    
    
    
    .ultima {
        padding-top: 20px;
    }
    
    .contactos1 {
        margin-left: 100px;
        margin-right: 30px;
        padding-left: 50px;
        padding-right: 90px;
    }
    
    .contactos3 {
        padding-right: 50px;
    }
    
    
    .redes1{
        margin-left: -5px;
        padding-left: 10px;
        padding-bottom: 30px;
    }
    
    button {  
        margin-top: 10px;
    }
        
   
    
    
    }

