@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
       
}
/* cabezal */

header{   
    width: 100%;     
    margin-right: 50px;
    position: fixed;
    background-color: white;
    
}

.contenerdor {
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    
}
  
h1 {
    width: 25%;
    margin-left: 35px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Fugaz One', cursive;
    color: black;
    
   }

nav{
    width: 50%;
    height: 20%;
    margin-top: 2%;
    padding-right: 40px;
    display: flex;    
    justify-content: center;
     
}

.boton {
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color:black;
    display:inline;
    margin: auto;
    text-decoration:none;
}

.redes {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border: 0 solid black;
    color: black;
}

/* hero */
main {
    margin-top: 0;
}

.hero {
    
    padding-top: 150px;
    height: 350px;
    background-color: #EEE8AA;   
    display: flex;
    justify-content: space-evenly;

}

.presentacion {    
    margin-top: 35px;   
}

h2{
    margin-top: 10;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
}

h3{
    margin-top: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

p {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif

}
.porfolio {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border: 0 solid black;
    color: white;
    background-color: black;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}
.porfolio:hover {
    background-color: rgb(109, 94, 94);
}
.contacto {
    width: 130px;
    height: 30px;
    padding-left: 5px;
    border: none;
    color: black;
    background-color: #EEE8AA;
    font-size: 16px;
    text-decoration-line: underline;
    transition: all 0.5s;
    cursor: pointer;
}

.contacto:hover {
    background-color: #6d5e5e;
}
.flecha {
    padding-left: 8px;
}

.fotopresentacion {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 10px silver ;
}

/* primera seccion */

.seccion1 {
    padding-top: 30px;
    height: 350px;    
    margin-left: 110px;
    margin-right: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;

}

.about {
    width: 100px;
    margin-left: 450px; 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA;
       
}
.conocer {
    margin-left: 240px; 
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.soy {
    margin-left: 75px; 
    margin-top: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

u {
    text-decoration-color: #EEE8AA;
}

.resumen {
    margin-left: 75px; 
    margin-top: 25px;
    margin-right: 95px;
    padding-right: 10px;
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;  
    display: block;

}

.experiencia {
    text-align: center;
       
}

.exp {
    margin-top: 120px;
    margin-right: 120px;
    background-color: #EEE8AA;
    border-radius: 50%;   
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

.años {
   margin-right: 30px;
   margin-left: -30px;
   text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* datos*/

.seccion2 {
    height: 70px;
     margin-left: 110px;
    margin-right: 50px;
        
}

.datosbasicos {
    margin-left: 95px;
    margin-right: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.datos1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

/* segunda seccion */

.seccion3 {
    margin-top: 50px;
    padding-top: 60px;
    height: 400px;
    margin-left: 110px;
    margin-right: 50px;
    padding-right: 50px;
 }

.ayuda {
    width: 100px;
    margin-left: 520px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA;
}
.siguenteproyecto {
    margin-top: 10px;
    margin-left: 25px; 
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.imgproyect1 {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    color: #EEE8AA;
}
.proyect1 {
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
}

.datos2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding-left: 35px;
}


.imgproyect2 {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    color: #EEE8AA;
}
.proyect2 {
    margin-top: 5px;
    margin-left: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* cuarta seccion */
.seccion4 {
    padding-top: 30px;
    height: 750px;
    margin-left: 110px;
    margin-right: 50px;
    padding-right: 70px;
}
.resume1 {
    width: 100px;
    margin-left: 520px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA
}

.resume2 {
    margin-top: 10px;
    margin-left: 45px; 
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.my_ex{
    margin-left: 40px;
    margin-right: 120px;
    display: flex;
    justify-content: space-around;
}

.divicion {
    margin-top: 20px;
    margin-left: 80px;
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    
}
.divicion1 {
    padding-left: 8px;
    border-left: 2px solid #EEE8AA;
    
}

.resumen3  { 
    padding-bottom: 6px;
    font-size: 15px;
    border-bottom: 3px solid #6d5e5e;

}

.divicion2 {
    padding-left: 8px;
    border-left: 2px solid #EEE8AA;
    
}
.resumen4  {
    padding-bottom: 6px;
    font-size: 15px;
    border-bottom: 3px solid #6d5e5e;
}

/* seccion barras */
.habilidades {
    margin-left: 190px;
    font-family: Arial, Helvetica, sans-serif;
}

.barras {
    margin-top: 15px;
    margin-left: -50px;
    display: flex;
    justify-content: space-around;
    
}

.barras1 {
    margin-left: 150px;

}

.por99 {
    margin-left: 190px;

}
.conten99 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra99 {
    width: 99%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.por90 {
    margin-left: 165px;

}
.conten90 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra90 {
    width: 90%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.barras2 {
    margin-right: 20px;

}
.por70 {
    margin-left: 200px;

}
.conten70 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra70 {
    width: 70%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.por55 {
    margin-left: 190px;

}
.conten55 {
    width: 300px;
    height: 10px;
    background-color: #6d5e5e;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.barra55 {
    width: 50%;
    height: 10px;
    background-color: #EEE8AA;
   
}

.downcv {
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 48%;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s;
    cursor: pointer;
}

.downcv:hover {
    background-color: rgb(109, 94, 94);
}

/* quinta seccion */

.seccion5 {
    padding-top: 30px;
    width: 100%;
    height: 850px;
    background-color: #ffeded;
   padding-right: 50px;
    
}

.porfolio2 {
    width: 90px;
    margin-left: 48%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEE8AA;
}
.porfolio3 {
    margin-top: 10px;
    margin-left: 50px; 
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.boton3 {
    width: 100%;
    display: flex;
    align-content:space-between;
}

.boton4 {
    margin-left: 25%;
    
}

.boton7 {
    width: 100%;
    height: 20%;
   padding-top: 2%;
   padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
 
}

.boton7:hover {
    text-decoration: underline;
}

/* seccion imagenes */

.trabajos1 {
    margin-top: 20px;
    width: 920px;
    height: 920px;
    padding-top: 30px;
    padding-left: 220px;
   
 }

.img1 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.img2 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
.img3 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.img4 {
    width: 300px;
    height: 300px;
    margin-right: 5px;
}
.img5 {
    width: 300px;
    height: 300px;
}
.img6 {
    width: 300px;
    height: 300px;
    margin-left: 5px;
}


/* ultima seccion */

.ultima {
    width: 100%;
    padding-top: 30px;
    height: auto;    
   background-color: #EEE8AA;
   
}

.contactos1 {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;


}

.contactos3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;       

}

p {
    margin-bottom: 30px;
}
.liv{ 
    margin-bottom: 5px;
}

.call {
    margin-bottom: 5px;
}

.redes1{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
    border: 0 solid black;
    color: black;
}


form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.formulario1 {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

label {
    font-size: 15px;
    padding: 10px 0;
    
}

input {
    border: none;
    background-color: #EEE8AA;
    border-bottom: 1px solid #6d5e5e;
    width: 350px;
    margin-bottom: 10px;

}

textarea {
    height: 80px ;
    border: none;
    background-color: #EEE8AA;
    border-bottom: 1px solid #6d5e5e;
    width: 350px;

}

button {
    width: 80px;
    height: 20px;
    margin-top: 5px;
    font-size: 11px;
    border: 0 solid black;
    color: white;
    background-color: black;
    transition: all 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: rgb(109, 94, 94);

}
/* firma */

.firma {
    padding: 20px 600px ;
}
.firma1 {
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
    text-shadow: 0.1em 0.1em 0.2em tomato
}

@media all and (min-width:600px) and (max-width:1023px) {
body  {
        width: 765px;
}

    /* cabezal */
    
header{   
        width: 765px;     
        margin-right: 10px;
}
    
     
h1 {
    width: 20%;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
   }

.boton {
    width: auto;
    font-size: 12px;
       
}

.redes {
    font-size: 18px;
}

/* hero */

.hero {    
    padding-top: 120px;
   
}

.porfolio {
    margin-top: 5px;
    
}
/* primera seccion */

.seccion1 {
    margin-left: 50px;
}

.about {
    margin-left: 350px; 
    font-size: 18px;
           
}
.conocer {
    width: 200px;
    margin-top: -10px;
    margin-left: 300px;
}

.exp {
    margin-top: 180px;
 
}


/* datos*/

.seccion2 {
    height: 15px;
    padding-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
   
        
}

.datosbasicos {
    margin-left: 50px;
    margin-right: 50px;    
}

/* segunda seccion */

.seccion3 {
    margin-top: 30px;   
    height: 400px;
    margin-left: 0;
    margin-right: 30px;
    padding-right: 0px;
 }


.ayuda {
    margin-left: 350px;
    font-size: 18px;
}

.siguenteproyecto {
    margin-left: 40px;
    font-size: 22px;

}

.proyect1, .proyect2 {
    margin-left: 30px;
}

/* <!-- cuarta seccion --> */ 

.seccion4 {
    padding-top: 15px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-right: 30px;
}
.resume1 {
    margin-left: 45%;
}    
    
.my_ex{
    margin-left: 5px;
    margin-right: 90px;
}

.divicion {
     margin-left: 60px;
       
}

/* seccion barras */

.habilidades {
    margin-left: 85px;
    
}

.barras {
    margin-top: 15px;
        
}

.barras1 {
    margin-left: 120px;

}


.downcv {
    margin-left: 45%;
    margin-bottom: 20px;
}

/* quinta seccion */

.seccion5 {
    width: auto;
    height: 650px;
   padding-right: 0px;
    
}

.porfolio2 {
    margin-left: 45%;
    
}
.porfolio3 {
    margin-top: 10px;
    
}

.boton4 {
    padding-left: 40px;
    
    
}

.boton7 {
    width: 300px;
    padding-left: 0px;
    font-size: 12px;
     
}

/* seccion imagenes */

.trabajos1 {
    margin-top: 20px;
    width: 620px;
    height: 620px;    
    padding-left: 90px;
   
 }

.img1 {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.img2 {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.img3 {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.img4 {
    width: 200px;
    height: 200px;
    margin-right: 5px;
}
.img5 {
    width: 200px;
    height: 200px;
}
.img6 {
    width: 200px;
    height: 200px;
    margin-left: 5px;
}

/* ultima seccion */

.ultima {
    width: auto;
    padding-top: 15px;
    height: auto;    
}

.contactos1 {
    margin-left: 50px;
    margin-right: 50px;
}


p {
    font-size: 15px;

}
/* firma */

.firma {
    padding: 20px 280px ;
}


}
